<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/common :: head('HOME')">
</head>
<body class="sb-nav-fixed" id="navFix">
<th:block th:replace = "fragment/common :: menu('home')"></th:block>
<div id="layoutSidenav">
    <div th:replace = "fragment/common :: side('side')"></div>
    <div id="layoutSidenav_content">

        <div class="map_wrap">
            <div id="map" style="width:100%;height:100%;"></div>
            <div id="category">
                <button type="button" id="all" onclick="all_btn" class="all">전체</button>
                <button type="button" id="k_food" onclick="k_food_btn" class="k_food" data-order="0"><img src="./images/k-food.png" height ="40" width="40" />한식</button>
                <button type="button" id="j_food" onclick="j_food_btn" class="j_food" data-order="1"><img src="./images/j-food.png" height ="40" width="40" />일식</button>
                <button type="button" id="c_food" onclick="c_food_btn" class="c_food" data-order="2"><img src="./images/c-food.png" height ="40" width="40" />중식</button>
                <button type="button" id="w_food" onclick="w_food_btn" class="w_food" data-order="3"><img src="./images/w-food.png" height ="40" width="40" />양식</button>
                <button type="button" id="cafe" onclick="cafe_btn" class="cafe" data-order="4"><img src="./images/cafe.png" height ="40" width="40" />카페</button>
                <button type="button" id="late_food" onclick="late_food_btn" class="late_food" data-order="5"><img src="./images/late-food.png" height ="40" width="40" />야식</button>
                <button type="button" id="etc" onclick="etc_btn" class="etc" data-order="6"><img src="./images/etc.png" height ="40" width="40" />기타</button>
            </div>
            <button class="gpsButton" id="gpsButtonConnect" onclick="gpsButton()" ><img style="width:40px; height:40px;" src="./images/gpsButton.svg" alt="gps"></button>
            <img id="pin" th:src="@{/images/pin.png}" alt="pin" />
            <div id="address_view">
                <p style="font-size: 25px; font-weight: bold">&nbsp;현재 위치</p>
                <span id="centerAddr" style="font-size: 20px"></span>
                <span id="centerLatLng" style="font-size: 20px"></span>

                <button sec:authorize="isAuthenticated()" type="button" class="btn btn-success build_marker" id="build_marker">EAT TWO</button>
                <a sec:authorize="!isAuthenticated()" type="button" class="btn btn-success" th:href="@{/account/login}">EAT TWO</a>

            </div>
        </div>

        <!--모임생성 게시판 모달 구현-->
        <div sec:authorize="isAuthenticated()">
            <div class="boardModal">
                <div class="boardModal_content">
                    <h4 class="boardModal_header border-bottom mb-3">현재 위치에 EAT TWO를 띄웁니다!</h4>
                    <div class="boardModal_body ">
                        <form action="/post" method="post">
                            <div class="form-group row">
                                <label for="username" class="col-sm-2 col-form-label mb-3"><strong>닉네임</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="username" class="form-control" id="username" value="username" th:value="${user.nickname}" readonly></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="locate" class="col-sm-2 col-form-label mb-3"><strong>위치</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="locate" readonly></input>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lat" class="col-sm-2 col-form-label mb-3"><strong>위도</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="lat" class="form-control" id="lat" readonly/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lng" class="col-sm-2 col-form-label mb-3"><strong>경도</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="lng" class="form-control" id="lng" readonly/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputTitle" class="col-sm-2 col-form-label mb-3"><strong>제목</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="inputTitle" required />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputStoreType" class="col-sm-2 col-form-label mb-3"><strong>가게유형</strong></label>
                                <div class="col-sm-10">
                                    <select class="form-select" required="required" name="storeType" id="inputStoreType" onchange="selectBoxChange(this.value);" aria-label="Default select example">
                                        <option value="" selected disabled hidden>가게유형을 선택해주세요.</option>
                                        <option value="한식">한식</option>
                                        <option value="중식">중식</option>
                                        <option value="일식">일식</option>
                                        <option value="양식">양식</option>
                                        <option value="카페">카페</option>
                                        <option value="야식">야식</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputStoreName" class="col-sm-2 col-form-label mb-3"><strong>상호명</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="storeName" class="form-control" id="inputStoreName" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputOrderDetail" class="col-sm-2 col-form-label mb-3"><strong>주문내용</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="orderDetail" class="form-control" id="inputOrderDetail" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputMinimumOrderAmount" class="col-sm-2 col-form-label mb-3"><strong>최소주문금액</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="minimumOrderAmount" class="form-control" id="inputMinimumOrderAmount" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputDeliveryCharge" class="col-sm-2 col-form-label mb-3"><strong>배달요금</strong></label>
                                <div class="col-sm-10">
                                    <input type="text" name="deliveryCharge" class="form-control" id="inputDeliveryCharge" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputContent" class="col-sm-2 col-form-label mb-3"><strong>기타사항</strong></label>
                                <div class="col-sm-10">
                                    <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
                                </div>
                            </div>
                            <div class="col-auto mt-5">
                                <button type="submit" class="btn btn-primary btn-write" role="button">글쓰기</button>
                                <button type="button" class="btn btn-secondary boardModal_close">닫기</button>
                            </div>
                            <button type="button" class="btn-close btn-close-black boardModal_close2" aria-label="Close"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--게시판 정보 모달 띄우기 start!-->
        <div sec:authorize="isAuthenticated()">
            <div class="boardDetailModal">
                <div class="boardDetailModal_content">
                    <button onclick="middlespace()">중간 지점 찾기</button>
                    <h4 class="boardDetailModal_header">게시글 정보입니다.</h4>
                    <div class="boardDetailModal_body ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">정보</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <th scope="row">닉네임</th>
                                <td id="showBoardNickname"></td>
                            </tr>
                            <tr>
                                <th scope="row">위치</th>
                                <td id="showBoardLocate"></td>
                            </tr>
                            <tr>
                                <th scope="row">위도</th>
                                <td id="showBoardLat"></td>
                            </tr>
                            <tr >
                                <th scope="row">경도</th>
                                <td id="showBoardLng"></td>
                            </tr>
                            <tr>
                                <th scope="row">제목</th>
                                <td id="showBoardTitle"></td>
                            </tr>
                            <tr>
                                <th scope="row">가게유형</th>
                                <td id="showBoardType"></td>
                            </tr>
                            <tr>
                                <th scope="row">상호명</th>
                                <td id="showBoardName"></td>
                            </tr>
                            <tr>
                                <th scope="row">주문내용</th>
                                <td id="showBoardOrder"></td>
                            </tr>
                            <tr>
                                <th scope="row">최소주문금액</th>
                                <td id="showBoardMin"></td>
                            </tr>
                            <tr>
                                <th scope="row">배달요금</th>
                                <td id="showBoardDel"></td>
                            </tr>
                            <tr>
                                <th scope="row">기타사항</th>
                                <td id="showBoardContent"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="col-auto mt-5">
                            <button type="button" class="btn btn-primary chat-btn" onclick="showChat()">채팅하기</button>
                            <button type="button" class="btn btn-secondary boardDetailModal_close">닫기</button>
                        </div>
                        <button type="button" class="btn-close btn-close-black boardDetailModal_close2" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
        <!--게시판 정보 모달 띄우기 end!-->
        <div class="chatRoomModal">
            <div class="chatRoomModal_body">
                <div>채팅방 제목</div>
                <input id="chatRoomTitle" type="text" placeholder="채팅방 제목을 입력해주세요."/>
                <div>
                    <button onclick="postChat()">확인</button>
                    <button class="chatRoomModal_close" onclick="closeChat()">닫기</button>
                </div>
            </div>
        </div>

        <footer th:replace = "fragment/common :: footer('footer')"></footer>
    </div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=374dc9ec4e95ae00f4f8e366bf25c14e&libraries=services"></script>

<script>
    const showProfileModal  = document.querySelector(".modal")
    function showProfile(){
        showProfileModal.style.display='block';
    }
    function closeProfile(){
        showProfileModal.style.display='none';
    }

        function removeStorage(){
        localStorage.removeItem("Lat")
        localStorage.removeItem("Lng")
    }
</script>
<script>
    const chatModal = document.querySelector('.chatRoomModal')
    function showChat(){
        var showBoardNickname = document.getElementById('showBoardNickname')
        if(user1.nickname==showBoardNickname.innerText){
            alert("채팅은 다른 사용자와 가능합니다")
        }else{
            chatModal.style.display='block';
        }
    }
    function closeChat(){
        chatModal.style.display='none';
    }
    function postChat(){
        var chatRoomTitle=  document.getElementById('chatRoomTitle')
        var showBoardNickname = document.getElementById('showBoardNickname')

        fetch("/chatApi/chatPost",{
            method: 'POST',
            headers:{
                'content-type':'application/json'
            },
            body : JSON.stringify({
                chatTitle: chatRoomTitle.value,
                username: user1.nickname,
                partner: showBoardNickname.innerText
            }),
        }).then((response)=>{
            if(response.status==200){
                location.href="chat/list";
            }
        })

    }
</script>
<script>
    function middlespace(){
        var partnerLat= document.getElementById('showBoardLat').innerText
        var partnerLng =document.getElementById('showBoardLng').innerText
        location.href=`/middlePlaceMap/middleMap?lat=${partnerLat}&lng=${partnerLng}`;
    }
</script>
<script>
    // $('input[name=lat]').attr('value',infoDiv);
    // $('input[name=lng]').attr('value',infoLng);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };


    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    if(localStorage.getItem("Lat")!=null){
        var latCenter = localStorage.getItem("Lat")
        var lngCenter = localStorage.getItem("Lng")
        mapOption.center = new kakao.maps.LatLng(latCenter, lngCenter)
    }


    // 현 위치 반환을 위한 객체를 생성합니다.
    var geocoder = new kakao.maps.services.Geocoder();


    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl();

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.BOTTOMRIGHT);



    // 3. 위치 수집, GPS 마커 표시 기능(GeoLocation)

    function gpsButton(){
        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {

                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다

                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition);
            });
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            var locPosition = new kakao.maps.LatLng(x, y);
            displayMarker(locPosition);
        }
    }


    // displayMarker 함수(지도에 마커를 표시하는 함수)
    //마커 이미지를 변경
    let icon = new kakao.maps.MarkerImage(
        "images/gpsIcon.png",
        new kakao.maps.Size(50, 50)
    );

    // 마커 표시 함수
    function displayMarker(locPosition) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: locPosition
        });
        marker.setImage(icon);
        // 지도 중심좌표를 접속위치로 변경합니다
        map.setCenter(locPosition);
    }

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
    searchAddrFromCoords(map.getCenter(), displayCenterInfo);

    // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'idle', function() {
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);
    });

    function searchAddrFromCoords(coords, callback) {
        // 좌표로 행정동 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    }

    function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
    }

    // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
    function displayCenterInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');
            var infoLng = document.getElementById('centerLatLng');

            //지도 현재 좌표 위도 경도

            for(var i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                infoDiv.innerHTML = result[i].address.address_name;
                infoLng.innerHTML = map.getCenter();
                var centerMapx = map.getCenter().Ma
                var centerMapy = map.getCenter().La
                localStorage.setItem("Lat", centerMapx)
                localStorage.setItem("Lng", centerMapy)
                break;

            }
        }
    }

</script>
<!--map 구현 끝!-->



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

//게시판 모달 구현
<script>
    const boardModal = document.querySelector('.boardModal')
    const btnOpenPopup2 = document.querySelector('.build_marker');
    const btnClosePopup2 = document.querySelector('.boardModal_close');
    const btnClosePopup3 = document.querySelector('.boardModal_close2');

    var infoDiv = document.getElementById('centerAddr')
    var infoLng = document.getElementById('centerLatLng')

    btnOpenPopup2.addEventListener('click', () => {
        boardModal.style.display = 'block';
        document.getElementById('locate').value = infoDiv.innerText
        //slice(시작인덱스, 끝인덱스)
        //끝 인덱스 값의 요소는 제외하고 그 전까지 가져온다.
        document.getElementById('lat').value = infoLng.innerText.split(',')[0].slice(1,-1)
        document.getElementById('lng').value = infoLng.innerText.split(',')[1].slice(1,-1)
    });

    btnClosePopup2.addEventListener('click', () => {
        boardModal.style.display = 'none';
    });

    btnClosePopup3.addEventListener('click', () => {
        boardModal.style.display = 'none';
    });
</script>

<script>
    var message = null;
    if(message!==null){
        alert(message);
    }
    // location.replace(null);
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    function deleteAccount(username){
        if (!confirm("정말로 삭제하시겠습니까?")) {
            alert("삭제가 취소되었습니다.")
        } else {
            $.ajax({
                url:'/api/users/'+username,
                type:'DELETE',
                success: function (result){
                    alert('정상적으로 삭제 되었습니다.')
                    window.location.href="/account/login";
                }
            })
        }
    }
</script>


// db에 있는 위도, 경도 값 불러와서 지도에 마커 띄우기
<script th:inline="javascript">
    /*<![CDATA[*/
    let boardInfo = /*[[${board}]]*/;
    let user1 = /*[[${user}]]*/;
    /*]]>*/
</script>

<script>
<!--console.log(boardInfo);-->

    var arrLat = [];
    var arrLng = [];
    var positions = [];
    var arridBoard= [];
    var arrshowBoardNickname = []
    var arrshowBoardLocate=[]
    var arrshowBoardTitle=[]
    var arrshowBoardType = []
    var arrshowBoardName= []
    var arrshowBoardOrder = []
    var arrshowBoardMin= []
    var arrshowBoardDel=[]
    var arrshowBoardContent=[]

    var boardLat = document.getElementById('showBoardLat')
    var boardLng = document.getElementById('showBoardLng')
    var showBoardNickname= document.getElementById('showBoardNickname')
    var showBoardLocate = document.getElementById('showBoardLocate')
    var showBoardTitle = document.getElementById('showBoardTitle')
    var showBoardType = document.getElementById('showBoardType')
    var showBoardName = document.getElementById('showBoardName')
    var showBoardOrder = document.getElementById('showBoardOrder')
    var showBoardMin = document.getElementById('showBoardMin')
    var showBoardDel = document.getElementById('showBoardDel')
    var showBoardContent = document.getElementById('showBoardContent')

    var imageSrc2 = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
    // 마커 이미지의 이미지 크기 입니다
    var imageSize2 = new kakao.maps.Size(35, 50);

    // 마커 이미지를 생성합니다
    var markerImage2 = new kakao.maps.MarkerImage(imageSrc2, imageSize2);

    const boardDetailModal = document.querySelector('.boardDetailModal');
    const boardDetailModal_close = document.querySelector('.boardDetailModal_close');
    const boardDetailModal_close2 = document.querySelector('.boardDetailModal_close2');

    showBoardMarker();


    function showBoardMarker() {

        for (var i = 0; i < boardInfo.length; i++) {
            arrLat[i] = boardInfo[i].lat;
            arrLng[i] = boardInfo[i].lng;
            arridBoard[i] = boardInfo[i].id;
            arrshowBoardNickname[i] = boardInfo[i].username
            arrshowBoardTitle[i] = boardInfo[i].title
            arrshowBoardType[i] = boardInfo[i].storeType
            arrshowBoardName[i] = boardInfo[i].storeName
            arrshowBoardOrder[i] = boardInfo[i].orderDetail
            arrshowBoardMin[i] = boardInfo[i].minimumOrderAmount
            arrshowBoardDel[i] = boardInfo[i].deliveryCharge
            arrshowBoardContent[i] = boardInfo[i].content
        }

        for (var i = 0; i < boardInfo.length; i++) {
            positions[i] = new kakao.maps.LatLng(arrLat[i], arrLng[i]);
        }

        for (var i = 0; i < positions.length; i++) {
            addMarker2(positions[i], arridBoard[i]);
        }
    }

    function addMarker2(positions2, idBoard2) {
        // 마커를 생성합니다
        var marker2 = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions2, // 마커를 표시할 위치
            image : markerImage2, // 마커 이미지
            title: idBoard2
        });

<!--        console.log(boardInfo[2].content);-->

        kakao.maps.event.addListener(marker2, 'click', function() {
            if(user1==null){
                alert("로그인 이후 가능합니다")
                location.href="/account/login"
            }

            console.log(marker2.getTitle())
            fetch(`/getMarkerBoard/${marker2.getTitle()}`)
                .then(data=>data.json())
                .then(responseData=>{
                    console.log(responseData)})


            for(var i=0; i<boardInfo.length; i++){
                let geocoder = new kakao.maps.services.Geocoder();

                let callback = function(result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        // console.log(result[0].address);
                        showBoardLocate.innerText =result[0].address.address_name
                    }
                };

                if(arridBoard[i] == marker2.getTitle()){
                    let coord = new kakao.maps.LatLng(arrLat[i], arrLng[i]);
                    var boardlocate = geocoder.coord2Address(coord.getLng(), coord.getLat(), callback)

                    boardLat.innerText = arrLat[i];
                    boardLng.innerText = arrLng[i];
                    // showBoardLocate.innerText = geocoder.coord2Address(coord.getLng(), coord.getLat(), callback)[0].address.address_name
                    showBoardNickname.innerText = arrshowBoardNickname[i];
                    showBoardTitle.innerText = arrshowBoardTitle[i];
                    showBoardType.innerText = arrshowBoardType[i];
                    showBoardName.innerText = arrshowBoardName[i];
                    showBoardOrder.innerText = arrshowBoardOrder[i];
                    showBoardMin.innerText = arrshowBoardMin[i];
                    showBoardDel.innerText = arrshowBoardDel[i];
                    showBoardContent.innerText = arrshowBoardContent[i];
                }
            }
            boardDetailModal.style.display = 'block';
        });
    }

    boardDetailModal_close.addEventListener('click', () => {
        boardDetailModal.style.display = 'none';
    });

    boardDetailModal_close2.addEventListener('click', () => {
        boardDetailModal.style.display = 'none';
    });

</script>


<script>
    function showNav(){
        if(document.getElementById('navFix').classList.contains('sb-sidenav-toggled')){
            document.getElementById('navFix').classList.remove('sb-sidenav-toggled')
        }else{
            document.getElementById('navFix').classList.add('sb-sidenav-toggled')
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->

</body>

</html>