<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
 <div>
 board lat, lng 데이터가져오기 test 페이지
 </div>

 <button onclick="showBoard()">게시판 정보</button>
 <script th:inline="javascript">
   /*<![CDATA[*/
   let boardInfo = /*[[${board}]]*/;
   /*]]>*/
 </script>

 <script>
     var arrLat = [];
     var arrLng = [];
     function showBoard() {
        for(var i = 0; i < boardInfo.length; i++) {
            arrLat[i] = boardInfo[i].lat;
            arrLng[i] = boardInfo[i].lng;
        }
        for(var i = 0; i < boardInfo.length; i++) {
        console.log(arrLat[i]);
        console.log(arrLng[i]);
        }
     }
 </script>

</body>
</html>